<p>Primer Nombre: <input type="text" #primerNombre /></p>
<p>Segundo Nombre: <input type="text" #segundoNombre /></p>
<p>Primer Apellido: <input type="text" #primerApellido /></p>
<p>Segundo Apellido: <input type="text" #segundoApellido /></p>
<p>
    tipoDocumeto:
    <select name="select" #tipoDocumento>
    <option value="cedula" selected>Cedula</option>
    <option value="tarjeta de identidad">Tarjeta identidad</option>
    <option value="cedula extranjeria">cedula extranjeria</option>
  </select>
</p>
<p>Numero de documento: <input type="tel" #id /></p>
<p>Fecha de expedicion documento: <input type="date" #fecha /></p>
<p>
    Tipo persona:
    <select name="select" #persona>
    <option value="Medico" selected>Medico</option>
    <option value="Paciente">Paciente</option>
  </select>
</p>

<button (click)="agregar(primerNombre.value, segundoNombre.value, primerApellido.value, segundoApellido.value, tipoDocumento.value, id.value, fecha.value,persona.value)">agregar</button>
<button (click)="ver()">verTodos</button>
<button (click)="consultar(id.value)">Consultar</button>
<button (click)="eliminar(id.value)">eliminar</button>

<button (click)="editar(id.value, primerNombre.value, segundoNombre.value, primerApellido.value, segundoApellido.value, tipoDocumento.value, fecha.value)">editar</button>

<router-outlet></router-outlet>